.icard {
    position: absolute;
    padding: 10px;
    height: 200px;
    width: 150px;
    border: 1px solid black;
    border-radius: 15px;
    background-color: white;
    display: inline-block;
    top: 0;
    left: 0;
}

.cardtop {
    font-size: 2em;
    height:40px;
    line-height: 0.7em;
}

.cardmid {
    text-align: center;
    font-size: 4em;
    height: 105px;
}

.cardbottom {
    font-size: 2em;
    height: 35px;
    line-height: 0.7em;
    transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
}

.hearts .suit::after {
    content: '\2665';
}

.spades .suit::after {
    content: '\2660';
}

.clubs .suit::after {
    content: '\2663';
}

.diams .suit::after {
    content: '\2666';
}

.spades,
.clubs {
    color: black;
}

.hearts,
.diams {
    color: red;
}

.hand {
    position: relative;
}

.players {
    float: left;
    width: 49%;
    min-height: 300px;
    border: 1px solid #ddd;
}

.score {
    font-size: 1.5em;
}

#message {
    font-size: 1.2em;
    color: white;
    background-color: black;
    padding: 5px;
}

.btn {
    border-radius: 5px;
    padding: 9px 20px;
    color: white;
    display: inline-block;
    text-align: center;
    text-shadow: 1px 1px #000;
}

#btnBattle {
    background-color: red;
}

/* Begin Countdown Timer Styles */

.expired-notice {
    text-align: center;
    padding: 2rem;
    border: 1px solid #ebebeb;
    border-radius: 0.25rem;
    margin: 0.5rem;
  }
  
  .expired-notice > span {
    font-size: 2.5rem;
    font-weight: bold;
    color: red;
  }
  
  .expired-notice > p {
    font-size: 1.5rem;
  }
  
  .show-counter {
    padding: 0.5rem;
  }
  
  .show-counter .countdown-link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.75rem;
    padding: 0.5rem;
    border: 1px solid #ebebeb;
    border-radius: 0.25rem;
    text-decoration: none;
    color: #000;
  }
  
  .show-counter .countdown {
    line-height: 1.25rem;
    padding: 0 0.75rem 0 0.75rem;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  
  .show-counter .countdown.danger {
    color: #ff0000;
  }
  
  .show-counter .countdown > p {
    margin: 0;
  }
  
  .show-counter .countdown > span {
    text-transform: uppercase;
    font-size: 0.75rem;
    line-height: 1rem;
  }
  
